<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 pt-5">
      <%= form_tag root_path, method: :get, class: 'd-flex my-5' do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a movie"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
      <div id="movies">
        <% @movies.each do |pg_search_document| %>
          <h4><%= pg_search_document.searchable.title %></h4>
          <p><%= pg_search_document.searchable.synopsis %></p>
          <% if pg_search_document.searchable_type == 'Movie' %>
            <p><%= pg_search_document.searchable.director.first_name %> <%= pg_search_document.searchable.director.last_name %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
